[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
axicli = {file = "https://cdn.evilmadscientist.com/dl/ad/public/AxiDraw_API.zip"}

[dev-packages]

[requires]
python_version = "3.8"
